{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

  <h1>{{ post.title }}</h1>

  <p>{{ post.content }}</p>
  <p><i>By {{ post.user.full_name }}
    on {{ post.friendly_date }}
  </i></p>

<form>
  <button class="btn-cancel"
          formmethod="GET"
          formaction="/users/{{ post.user_id }}">Cancel</button>
  <button class="btn-edit"
          formmethod="GET"
          formaction="/posts/{{ post.id }}/edit">Edit</button>
  <button class="btn-delete"
          formmethod="POST"
          formaction="/posts/{{ post.id }}/delete">Delete</button>
</form>

{% endblock %}